.item-bar {
    padding: 15px 15px;
    border-radius: 2px;
    background-color: #ffffff;
    span {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        color: #363636;
    }
    i {
        float: right;
        cursor: pointer;
        font-size: 20px;
        color: #363636;
    }
}